@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.avia-list {
    display: flex;
    justify-content: center;
    font-family: 'Jost', sans-serif;
    padding-top: 150px;

    .container {
        width: 100%;
        max-width: 1250px;
        box-sizing: border-box;
        margin: 40px auto;
    }
    
    p {
        font-family: 'Jost', sans-serif;
        color: #ffffff;
    }

    &-header {
        width: 100%;
        background: url("../img/avia_list/register-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0px 0px 15px 0px rgba(180, 180, 180, 0.75);

        padding: 40px;
        border-radius: 4px;
        justify-content: space-around;
        display: flex;
    }

    .subtitle {
        font-size: 20px;
    }

    .from, .to {
        padding: 0 20px;
        font-size: 20px;
    }

    .to {
        color: #ffffff;
    }
}

.avia-list-result {
    max-width: 1250px;
    padding: 0 40px;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Jost', sans-serif;

     p, span {
        font-family: 'Jost', sans-serif;
     }

     .flight {
         padding: 20px;
         cursor: pointer;
         width: 100%;  
        border-radius: 4px;
        box-shadow: 0px 0px 15px 0px rgba(180, 180, 180, 0.75);
        background: url("../img/avia_list/avia-bg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
         margin: 40px 0;

         &-header {
             display: flex;
             justify-content: space-around;

             p {
                 font-size: 25px;
                 color: #000000 ;
                 border-bottom: 1px solid #000000;

                 padding: 5px;
             }
         }

         &-time {
             display: flex;
             flex-direction: column;
             align-items: flex-end;
             margin-bottom: 20px;
         }

         &-price, &-detail {
             display: flex;
             justify-content: flex-end;
         }

         &-detail {
             float: right;
             margin-top: 20px;
             padding: 5px 20px;
             border-radius: 4px;
             background: #ffffff;
             width: max-content;
             &:hover {
                 transition: .3s;
                 background: rgb(40, 94, 40);
                 color: #ffffff;
             }
         }

         
     }
}