@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
.avia-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Jost', sans-serif;
  padding-top: 150px;
}

.avia-list .container {
  width: 100%;
  max-width: 1250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 40px auto;
}

.avia-list p {
  font-family: 'Jost', sans-serif;
  color: #ffffff;
}

.avia-list-header {
  width: 100%;
  background: url("../img/avia_list/register-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(180, 180, 180, 0.75);
          box-shadow: 0px 0px 15px 0px rgba(180, 180, 180, 0.75);
  padding: 40px;
  border-radius: 4px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.avia-list .subtitle {
  font-size: 20px;
}

.avia-list .from, .avia-list .to {
  padding: 0 20px;
  font-size: 20px;
}

.avia-list .to {
  color: #ffffff;
}

.avia-list-result {
  max-width: 1250px;
  padding: 0 40px;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Jost', sans-serif;
}

.avia-list-result p, .avia-list-result span {
  font-family: 'Jost', sans-serif;
}

.avia-list-result .flight {
  padding: 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(180, 180, 180, 0.75);
          box-shadow: 0px 0px 15px 0px rgba(180, 180, 180, 0.75);
  background: url("../img/avia_list/avia-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 40px 0;
}

.avia-list-result .flight-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.avia-list-result .flight-header p {
  font-size: 25px;
  color: #000000;
  border-bottom: 1px solid #000000;
  padding: 5px;
}

.avia-list-result .flight-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}

.avia-list-result .flight-price, .avia-list-result .flight-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.avia-list-result .flight-detail {
  float: right;
  margin-top: 20px;
  padding: 5px 20px;
  border-radius: 4px;
  background: #ffffff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.avia-list-result .flight-detail:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #285e28;
  color: #ffffff;
}
/*# sourceMappingURL=avia_list.css.map */